{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Détail{% endblock %}
{% block body %}

    <div><h1>Détail ✅</h1>
    </div>

    <div>

        <p>Titre: {{ wish.title }}</p>
        <p>Description: {{ wish.description }}</p>
        <p>Auteur: {{ wish.author }}</p>
        <p>Date de création: {{ wish.dateCreated.format("d-m-Y H:i:s") }}</p>
    </div>


{% endblock %}