<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"
          href="{{ asset('css/style.css') }}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="{{ asset('img/favicon.png') }}">

    <title>{% block title %}Bucket-List{% endblock %}</title>
    <div class="blocktext-center testfontgoogle">

        <h1><img src="{{ asset('img/logo.png') }}" alt="logo Bucket-List"> BUCKET-LIST</h1>

    </div>

    {% if app.user %}
        <div>
            <p>Hello {{ app.user.prenom }} {{ app.user.nom }}!</p>
        </div>
    {% endif %}

    <nav class="box-reverse textfontcarter">
        <ul>
            <li><a href="{{ path('home_index') }}">Accueil</a></li>

            {% if not app.user %}
                <li><a href="{{ path('app_register') }}">S'enregistrer</a></li>
                <li><a href="{{ path('app_login') }}">Se connecter</a></li>
            {% endif %}
            {% if app.user %}
                <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                <li><a href="{{ path('wish_addwish') }}">Ajoute ton souhait</a></li>
            {% endif %}
            <li><a href="{{ path('wish_list') }}">Listes</a></li>
            <li><a href="{{ path('home_about_us') }}">About us</a></li>

            {% if app.user %}
                {% for roles in app.user.roles %}
                    {% if roles == "ROLE_ADMIN" %}
                        <li><a href="{{ path('admin') }}">Admin</a></li>
                    {% endif %}{% endfor %}{% endif %}


        </ul>
    </nav>
</head>

<body>
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="flash-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}


<section class="section textfontpompiere">
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</section>
</body>


<footer>
    <div class="basdepage">
        <p>©Bucket-List {{ "now"|date("Y") }}</p>
        {# Date du jour {{ "now"|date("d/m/Y") }} #}
    </div>

</footer>
</html>
